@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BusinessLogicLayer.Viewmodels.ApplicationUser.UserDataVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách nhân viên</b></a></li>
    </ul>
    <div id="clock"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2">

                        <a class="btn btn-add btn-sm" asp-action="Create" asp-controller="ManagerStaff" title="Thêm">
                            <i class="fas fa-plus"></i>
                            Tạo mới nhân viên
                        </a>
                    </div>

                    @*                     <div class="col-sm-2">
                    <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)">
                    <i class="fas fa-file-upload"></i> Tải từ file
                    </a>
                    </div>

                    <div class="col-sm-2">
                    <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                    <i class="fas fa-print"></i> In dữ liệu
                    </a>
                    </div>
                    <div class="col-sm-2">
                    <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép">
                    <i class="fas fa-copy"></i> Sao chép
                    </a>
                    </div>

                    <div class="col-sm-2">
                    <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
                    </div>
                    <div class="col-sm-2">
                    <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)">
                    <i class="fas fa-file-pdf"></i> Xuất PDF
                    </a>
                    </div>
                    <div class="col-sm-2">
                    <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)">
                    <i class="fas fa-trash-alt"></i> Xóa tất cả
                    </a>
                    </div> *@
                </div>
                <div class="row">
                    <form asp-action="Index" method="get" class="form-inline">
                        <div class="form-group col-md-3">
                            <label for="Name">Tên</label>
                            <input name="name" class="form-control" value="@ViewContext.HttpContext.Request.Query["name"]" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="PhoneNumber">Số điện thoại</label>
                            <input name="phone" class="form-control" value="@ViewContext.HttpContext.Request.Query["phone"]" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Email">Email</label>
                            <input name="email" class="form-control" value="@ViewContext.HttpContext.Request.Query["email"]" />
                        </div>
                        <div class="form-group col-md-3 align-self-end">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>

                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger">@ViewBag.Message</div>
                }

                <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstAndLastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfBirth.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstAndLastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfBirth.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>

                                    @if (item.Status == 1)
                                    {
                                        <td>Hoạt động</td>
                                    }
                                    else
                                    {
                                        <td>Không hoạt động</td>
                                    }
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a> |
                                        <a asp-action="ChangeStatus" asp-route-id="@item.ID" class="btn btn-outline-info">ChangeStatus</a>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="form-group  col-md-12">
                        <span class="thong-tin-thanh-toan">
                            <h5>Chỉnh sửa thông tin nhân viên cơ bản</h5>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">ID nhân viên</label>
                        <input class="form-control" type="text" required value="#CD2187" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Họ và tên</label>
                        <input class="form-control" type="text" required value="Võ Trường">
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Số điện thoại</label>
                        <input class="form-control" type="number" required value="09267312388">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Địa chỉ email</label>
                        <input class="form-control" type="text" required value="truong.vd2000@gmail.com">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Ngày sinh</label>
                        <input class="form-control" type="date" value="15/03/2000">
                    </div>
                    <div class="form-group  col-md-6">
                        <label for="exampleSelect1" class="control-label">Chức vụ</label>
                        <select class="form-control" id="exampleSelect1">
                            <option>Bán hàng</option>
                            <option>Tư vấn</option>
                            <option>Dịch vụ</option>
                            <option>Thu Ngân</option>
                            <option>Quản kho</option>
                            <option>Bảo trì</option>
                            <option>Kiểm hàng</option>
                            <option>Bảo vệ</option>
                            <option>Tạp vụ</option>
                        </select>
                    </div>
                </div>
                <BR>
                <a href="#" style="    float: right;
        font-weight: 600;
        color: #ea0000;">Chỉnh sửa nâng cao</a>
                <BR>
                <BR>
                <button class="btn btn-save" type="button">Lưu lại</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                <BR>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
