@model ShopViewModel

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        max-width: 100%;
        height: auto; /* Tự động điều chỉnh chiều cao theo tỷ lệ */
    }
</style>
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <li>
                                                    <a asp-controller="Category" asp-action="Index">All Products</a>
                                                </li>
                                                @foreach (var category in Model.Categories)
                                                {
                                                    <li>
                                                        <a asp-controller="Category" asp-action="Index" asp-route-categoryId="@category.ID">
                                                            @category.Name
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop__sidebar__search">
                                <form asp-controller="Category" asp-action="Index" method="get" class="row">
                                    <input type="hidden" name="categoryId" value="@Model.SelectedCategoryID" />
                                    <div class="col-auto">
                                        <label for="minPrice">Giá tối thiểu</label>
                                        <input type="number" class="form-control" id="minPrice" name="minPrice" step="0.01" value="Model.MinPrice">
                                    </div>
                                    <div class="col-auto">
                                        <label for="maxPrice">Giá tối đa</label>
                                        <input type="number" class="form-control" id="maxPrice" name="maxPrice" step="0.01" value="@Model.MaxPrice">
                                    </div>
                                    <div class="col-auto">
                                        <input type="submit" class="btn btn-primary" value="Tìm kiếm"></input>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <img src="@product.ImagePaths.FirstOrDefault()" alt="Product Image" class="img-responsive">
                            </div>
                            <a asp-controller="Main" asp-action="Product" asp-route-id="@product.ID" style="visibility: visible; color: crimson">Xem chi tiết</a>

                            <div class="product__item__text">
                                <h6>@product.ProductName</h6>
                                <h5>@Currency.FormatCurrency(product.SmallestPrice.ToString()) đ</h5>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
